body.debug{
    background-color: pink;
}

[class*="col-"]{
    height: 50px;

}

/* .container{
    border: 1px solid black;
}

.col-6{
    border: 1px solid red;
} */


@media screen and (max-width:585px){
    [class*="col-"]{
        height: 25px;
    
    }
}




