[class*="col-"] p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.container .col-6.nested{
    padding: 5px;
}



.col-6.nested [class*="col-"]{
    border: 1px solid white;
    height: 140px;
    background-color: rgb(216, 112, 117);
}






